{% extends "base.html" %}
{% load form_tags %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-start pt-5" style="min-height: 100vh;">
  <div>
    <div class="card shadow-sm border rounded-1 p-4" style="width: 340px;">
      <div class="text-center mb-3">
        <h4 class="fw-bold">Change Your Password</h4>
      </div>

      <form method="post">
        {% csrf_token %}
        <div class="mb-2">
          {{ form.old_password|add_attrs:"class=form-control form-control-sm,placeholder=Old password" }}
        </div>
        <div class="mb-2">
          {{ form.new_password1|add_attrs:"class=form-control form-control-sm,placeholder=New password" }}
        </div>
        <div class="mb-2">
          {{ form.new_password2|add_attrs:"class=form-control form-control-sm,placeholder=Confirm new password" }}
        </div>
        <div class="d-grid mt-3">
          <button type="submit" class="btn btn-primary btn-sm">Update Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
